*{
    margin: 0 !important;
    font-family: loos-normal,sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6{
    color: rgb(249, 241, 227);
}


/* Box Shadow : */

:root {
    --shadow-color: 0deg 0% 72%;
    --shadow-elevation-low:
      0px 0.3px 0.4px hsl(var(--shadow-color) / 0.28),
      0px 0.9px 1.1px -1.9px hsl(var(--shadow-color) / 0.37);
    --shadow-elevation-medium:
      0px 0.3px 0.4px hsl(var(--shadow-color) / 0.39),
      0px 4.7px 5.7px -1.9px hsl(var(--shadow-color) / 0.51);
    --shadow-elevation-high:
      0px 0.3px 0.4px hsl(var(--shadow-color) / 0.36),
      0px 3px 3.6px -0.6px hsl(var(--shadow-color) / 0.42),
      0px 8px 9.7px -1.3px hsl(var(--shadow-color) / 0.48),
      -0.1px 19.7px 23.9px -1.9px hsl(var(--shadow-color) / 0.53);
    }
.low-shadow{
    box-shadow: var(--shadow-elevation-low);
}
.med-shadow{
    box-shadow: var(--shadow-elevation-medium);
}    
.lg-shadow{
    box-shadow: var(--shadow-elevation-high);
}

.noselect, img {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

::-moz-selection { /* Code for Firefox */
  color: rgb(233, 50, 50);
  background: rgb(169, 255, 195);
}

::selection {
  color: rgb(233, 50, 50);
  background: rgb(169, 255, 195);
}

.search{
    padding: 1em;
}


#standard-search{
    width: 15em;
}


.center{
    display: flex;
    justify-content: center;
}

.crypto-list{

    justify-content: center;
}

.Widget{
    color: rgb(203, 203, 203);
    height: 11em;
    width: fit-content;
    border-radius: 8px;
    margin: 1em;
    display: inline-block;
    padding: 4px 8px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(0, 0, 0, 0.27);
}

.btn{

}

.List ul {
    list-style-type: none;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    overflow: hidden;
}

hr{
    margin: 1px 0 !important;
}

.widget-container{
    display: inline-flex;
}



.price{
    display: inline;

}

.price-info td{
    vertical-align: text-bottom;
    line-height: 3.5em;
}

.change{
    display: inline;
}

.coin-name{
    
    line-height: .5em;
    position: relative;
    top:.5em;
}

.Widget img{
    position: relative;
    bottom: 0.4em;
    padding: 8px;
}

.navbar-brand{
    padding: 0 1em;
}

.navbar-toggler{
    border: none!important;
}

.navbar-toggler:focus .navbar-toggler:hover .navbar-toggler.active:focus{
    outline: none !important;
    box-shadow:none !important;
}

.navbar-collapse{
    display: flex;
    justify-content: center;
    margin: auto!important;
}

.signup-nav{
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}


.dash-nav{
    background: none;
    height: 100vh;
    width: 15%;
}
.dash-main{
    background: lightblue;
    padding: 1.2em;
}
.other{
    padding: 1.2em;
}

ul{
list-style: none;
}

.container{
    border-radius: 8px;
}

.login-buttons{
    position: absolute;
    right: 0;
    width: 12em;
    display: flex;
}

.login-container{
    margin:auto !important;
    padding: 1em;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.Home, .Login, .Signup{
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-image: url('../public/assets/front-bg.jpg');
    background-size: 100vw;

    background-position: fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}



.Login,.Signup{
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading{
    font-size: clamp(3rem, 5vw, 6rem); 
    max-width: clamp(50vw, 59vw, 80vw);
    padding-top: 30vh;
    padding-left: 10vw;
}
.heading span{
    color: rgb(224, 0, 56);
    font-weight: 500;
}


.glass{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.25);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.27);
}

.front-signup{
    position: absolute;
    top: 20vh;
    right: 8vw;
    width: 20em;
    height: fit-content;
}

.Home form{
    padding: 1em;
}


.Header{
    display: block;
    width: 100vw;
}

.form-control, .form-control:focus{
    height: 2.5em;
    margin: 1em 0 !important;
    border-radius: 2px;
    background: transparent; 
    border: none;
    color: white;
}

.form-control::placeholder{
    color: rgb(102, 102, 102);
    
}

#nav{
    display: block !important;
    background: none;
    width: 100vw !important;
    
}

#navbar{
  transition: top 0.4s;
  top: 0;
  border: solid rgba(255, 255, 255, 0.25);
  border-width: 0  0 1px;
}

.navbar-toggler{
    border: none!important;
}
.navbar-toggler:focus{
    outline:none;
    box-shadow: none !important;
}

.navbar .navbar-nav .nav-link:hover {
    color: #fff;
  }
  @media only screen and (min-width: 960px) {
    .navbar .navbar-nav .nav-link {
      padding: 1em 0.7em;
    }
    .navbar {
      padding: 0;
    }
    .navbar .navbar-brand {
      padding: 0 0.7em;
    }
  }
  .navbar .navbar-nav .nav-link {
    position: relative;
  }
  .navbar .navbar-nav .nav-link::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #fff;
        color: transparent;
        width: 0%;
        content: '';
        height: 3px;
        transition: all 0.5s;
  }
  .navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
  }

  .nav-item span{
    color: rgb(255, 255, 255);
  }

  .nav-link{
      padding: 1em 1.5em!important;
      border:solid rgba(255, 255, 255, 0.25);
      border-width: 0 .5px;
  }

 .tab{
    background-color: rgba(0, 0, 0, 0.1);
    padding: .5em;
    border: solid rgba(255, 255, 255, 0.15);
    border-width: 0 .5px;
    border-radius: 0;
 }
.active{
    background: none !important;

}

.graph-container{
    width: 15em !important;
}

#landing-widget{
    position: absolute ;
    right: 20vw;
    top: 60vh;
}

.exchange-arrows{
    height: 2em;
    transform: rotate(90deg);
    display: inline;
}

.Info{
    width: 100%;
    height: 56vh;
}


.coin-list{
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.25);
    position: relative;
    top: 18vh;
    margin: auto!important;
    width: 60%;
    color: white;
    
}
.coinlist-item{
    width: 100%;
    height: 4em!important;
    padding: 1em;
    display: flex;
    align-items: center;
    border-bottom: solid 1px rgba(255, 255, 255, 0.062);
}

.coinlist-item img{
    height: 80%;
}

.info-graph{
    width: 7em !important;
    height: 3em !important;
    position: absolute;
    right: 1em;
}
