*{
    margin: 0 !important;
    font-family: loos-normal,sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6{
    color: rgb(249, 249, 249);
}

p{
    color:rgb(177, 181, 184);
}
.text-grey{
    color: rgb(149, 149, 149);
}


/* Box Shadow : */

:root {
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low:
      0px 0.3px 0.4px hsl(var(--shadow-color) / 0.28),
      0px 0.9px 1.1px -1.9px hsl(var(--shadow-color) / 0.37);
    --shadow-elevation-medium:
      0px 0.3px 0.4px hsl(var(--shadow-color) / 0.39),
      0px 4.7px 5.7px -1.9px hsl(var(--shadow-color) / 0.51);
    --shadow-elevation-high:
      0px 0.3px 0.4px hsl(var(--shadow-color) / 0.36),
      0px 3px 3.6px -0.6px hsl(var(--shadow-color) / 0.42),
      0px 8px 9.7px -1.3px hsl(var(--shadow-color) / 0.48),
      -0.1px 19.7px 23.9px -1.9px hsl(var(--shadow-color) / 0.53);
    }
.low-shadow{
    box-shadow: var(--shadow-elevation-low);
}
.med-shadow{
    box-shadow: var(--shadow-elevation-medium);
}    
.lg-shadow{
    box-shadow: var(--shadow-elevation-high);
}

.noselect, img {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

::-moz-selection { /* Code for Firefox */
  color: rgb(233, 50, 50);
  background: rgb(169, 255, 195);
}

::selection {
  color: rgb(233, 50, 50);
  background: rgb(169, 255, 195);
}



a{
    text-decoration: none;
}

#standard-search{
    width: 15em;
}


.center{
    display: flex;
    justify-content: center;
}

.crypto-list{

    justify-content: center;
}

.Widget{
    color: rgb(203, 203, 203);
    height: 11em;
    width: 100%;
    border-radius: 8px;
    margin: 1em;
    display: inline-block;
    padding: 4px 8px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(0, 0, 0, 0.27);
}
.btn{
    border-radius: 8px !important;
}
.btn:focus {
    outline: none !important;
    box-shadow: none !important;
  }

.List ul {
    list-style-type: none;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    overflow: hidden;
}

hr{
    margin: 1px 0 !important;
}

.widget-container{
    display: inline-flex;
}

.price{
    display: inline;

}

.price-info td{
    vertical-align: text-bottom;
    line-height: 3.5em;
}

.change{
    display: inline;
}

.coin-name{
    font-size: medium;
    line-height: 1em;
    position: relative;
    top:.5em;
    color:rgb(214, 214, 214)
}

.Widget img{
    position: relative;
    bottom: 0.4em;
    padding: 8px;
    height: 3.5em
}


.navbar-toggler{
    border: none!important;
}

.navbar-toggler:focus .navbar-toggler:hover .navbar-toggler.active:focus{
    outline: none !important;
    box-shadow:none !important;
}

.navbar-collapse{
    display: flex;
    justify-content: center;
    margin: auto!important;
}



.dash-main{
    background: lightblue;
    padding: 1.2em;
}
.other{
    padding: 1.2em;
}

ul{
list-style: none;
}

.container{
    border-radius: 8px;
}


.login-container{
    margin:auto !important;
    padding: 1em;
    display: flex !important;
    justify-content: center;
    align-items: center;
}


.Home, .Login, .Signup{
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;

}



.Login,.Signup{
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading{
    font-size: clamp(4vw, 9vw, 4em); 
    max-width: clamp(50vw, 64vw, 60vw);
    padding-top: 20vh;
    padding-left: 10vw;
    z-index: 100 !important;
}
.heading span{
    color: rgb(223, 255, 152);
    font-weight: 500;
    z-index: 100 !important;
    font-style: italic;

}

@keyframes animationgradienttitle {
    0% {
      background-position: 0 2000px;
    }
    100% {
      background-position: 2000px 0;
    }
  }
.heading img{
    display: inline!important;
    font-size: 0;
}
.heading h1{
    margin: 20px 0 !important;

}

.bg-blur{
    z-index: 2;
    backdrop-filter: blur(10.1px);
    -webkit-backdrop-filter: blur(8.1px);
}
.glass{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.25);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.27);
}

.glass-black{
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(0, 0, 0, 0.27);
}

.section{
    padding: 1em;
}
.vertical-space{
    margin-bottom: 1em !important;
}

.front-signup{
    position: absolute;
    top: 20vh;
    right: 8vw;
    width: 20em;
    height: fit-content;
}

.Home form{
    padding: 1em;
}


.Header{
    display: block;
    width: 100vw;
}

.form-control, .form-control:focus{
    height: 2.5em;
    margin: 1em 0 !important;
    border-radius: 2px;
    background: transparent; 
    border: none;
    color: white;
}
.form-control::placeholder{
    color: rgb(102, 102, 102);
}
.form-check-label{
    padding: 0 .4em;
    margin-bottom: .4em!important;
    position: relative;
    bottom: 4px;
}

#navbar{
  transition: top 0.4s;
  top: 0;
  height: 3.6em !important;
  z-index: 10;
  
}

.navbar-toggler{
    border: none!important;
}
.navbar-toggler:focus{
    outline:none;
    box-shadow: none !important;
}

.navbar .navbar-nav .nav-link:hover {
    color: #fff;
  }
  @media only screen and (min-width: 960px) {
    .navbar .navbar-nav .nav-link {
      padding: 1em 0.7em;
    }
    .navbar {
      padding: 0;
    }
    .navbar .navbar-brand {
      padding: 0 0.7em;
    }
  }
  .navbar .navbar-nav .nav-link {
    position: relative;
  }
  .navbar .navbar-nav .nav-link::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #fff;
        color: transparent;
        width: 0%;
        content: '';
        height: 3px;
        transition: all 0.5s;
  }
  .navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
  }

  .nav-item span{
    color: rgb(255, 255, 255);
  }

  .nav-link{
      padding: 1em 1.5em!important;
      height: 2.5em !important;
  }

 .tab{
    background-color: rgba(0, 0, 0, 0.1);
    padding: .5em;
    border: solid rgba(255, 255, 255, 0.15);
    border-width: 0 .5px;
    border-radius: 0;
 }
.active{
    background: none !important;

}

.graph-container{
    padding: 0 .5em;
    width: 100%!important;
    height: 5em !important;
    position: relative;
}



.Info{
    margin-top: 20vw!important;
    width: 100%;
}


.coin-list{
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.25);
    margin: auto!important;
    width: 60%;
    color: white;
}
.coinlist-item{
    width: 100%;
    height: 4em!important;
    padding: 1em;
    display: flex;
    align-items: center;
    border-bottom: solid 1px rgba(255, 255, 255, 0.062);
}

.coin-img{
    height: 2em;
}

.info-graph{
    display: inline-flex !important;
    width: 6em !important;
    height: 2.5em !important;
    position: absolute;
    right: 1em;
}
.explore-graph{
    display: inline-flex !important;
    width: 6em !important;
    height: 2.5em !important;
}

.info-graph canvas{
    margin: auto 0 !important;
}






.Dashboard .container, .Explore .container, .Coin .container{
    margin-top: 1em!important;
    width: 100vw !important;
}

.content{
    padding: 0 2em !important;
}


/* BG BLUR */

   .bg-blur {
       height: 100vh;
       width: 100vw;
       backdrop-filter: blur(10.1px);
       -webkit-backdrop-filter: blur(10.1px);
       z-index: 2;
     position: absolute;
     top: 0;
     }
   



.border-none{
    border: none !important;
}

.dashnav-btn{
    margin: .5em 0!important;
    color: rgb(149, 149, 149);
    text-align: left;
}.dashnav-btn:hover{
   background-color: rgb(32, 30, 34) !important;
}


canvas{
    width: 100%;
    height: 100%;
}
.orb-canvas{
    position: fixed;
    top: 0;
}

.btn-group .btn-outline-dark{
    border: none !important;
    color: rgb(194, 191, 182) !important;
    padding: .2em 1em .2em;
}
.btn-group>.btn-check:checked+.btn{
    background-color: black !important;
    color: white !important;
}
.btn-group{
    background-color: rgb(24, 22, 26);
    border-radius: 8px;
    padding: 3px;
}

.dash-nav svg{
    margin: 0 .4em  .25em 0!important;
}

.portfolio-graph{
    z-index: 100;
}
