*{
    margin: 0 !important;
    font-family: loos-normal,sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6{
    color: rgb(249, 241, 227);
}


/* Box Shadow : */

:root {
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low:
      0px 0.3px 0.4px hsl(var(--shadow-color) / 0.28),
      0px 0.9px 1.1px -1.9px hsl(var(--shadow-color) / 0.37);
    --shadow-elevation-medium:
      0px 0.3px 0.4px hsl(var(--shadow-color) / 0.39),
      0px 4.7px 5.7px -1.9px hsl(var(--shadow-color) / 0.51);
    --shadow-elevation-high:
      0px 0.3px 0.4px hsl(var(--shadow-color) / 0.36),
      0px 3px 3.6px -0.6px hsl(var(--shadow-color) / 0.42),
      0px 8px 9.7px -1.3px hsl(var(--shadow-color) / 0.48),
      -0.1px 19.7px 23.9px -1.9px hsl(var(--shadow-color) / 0.53);
    }
.low-shadow{
    box-shadow: var(--shadow-elevation-low);
}
.med-shadow{
    box-shadow: var(--shadow-elevation-medium);
}    
.lg-shadow{
    box-shadow: var(--shadow-elevation-high);
}

.noselect, img {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

::-moz-selection { /* Code for Firefox */
  color: rgb(233, 50, 50);
  background: rgb(169, 255, 195);
}

::selection {
  color: rgb(233, 50, 50);
  background: rgb(169, 255, 195);
}

.navbar{

}

.center{
    display: flex;
    justify-content: center;
}


.navbar-brand{
    padding: 0 1em;
}

.navbar-toggler{
    border: none!important;
}

.navbar-toggler:focus .navbar-toggler:hover .navbar-toggler.active:focus{
    outline: none !important;
    box-shadow:none !important;
}

.navbar-collapse{
    display: flex;
    justify-content: center;
    margin: auto!important;
}

.nav-search{
  background: none;
  outline: solid 1px rgba(255, 255, 255, 0.145)!important;
  border:none !important;
  box-shadow: none !important;
  border-radius: 4px;
  height: 2.5em;
  align-self: center;
  color: #fff;
  padding: 0 12px;
}
.nav-search:focus{
  border:none !important;
  box-shadow: none !important;
  outline:solid 1px rgba(255, 255, 255, 0.145)!important; ;
}

@media (min-width: 992px) {

    #landing-widget{
        position:relative;
        top: min(50vh, 40vw);
        right: 40%;
        padding: 0 !important;
        z-index: 10;
    }

    .login-buttons{
        position: absolute;
        right: 3em;
        width: 12em;
        display: flex;
    }
    .nav-middle{
        display: flex;
        position: relative;
        right: max(2vw, 23%);
    }
    .navbar-brand svg{
      margin-bottom: 8px!important;
    }

}
@media (max-width: 991px) {

    .navbar-collapse{
        width: min(300px, 50vw);
        position: absolute;
        top: 0;
        right: 0;
        padding: 3.48em 0 0!important;
        float: right;
        background: rgba(0, 0, 0, 0.5);
        border-radius:12px;
        box-shadow: var(--shadow-elevation-medium);
        border: 1px solid rgba(0, 0, 0, 0.27);
        z-index: 11;
    }
    .navbar-nav .nav-link {
        border:none;
        background: none !important;
        width: 100%!important;
        z-index: 11;
    }

    .nav-link{
        z-index: 11;
    }
    .signup-nav{
        color:rgb(255, 133, 163)!important;
    }
    .navbar-toggler{
        z-index: 100;
    }


}


.Header{
    display: block;
    width: 100vw;
}

.form-control, .form-control:focus{
    height: 2.5em;
    margin: 1em 0 !important;
    border-radius: 2px;
    background: transparent; 
    border: none;
    color: white;
}

.form-control::placeholder{
    color: rgb(102, 102, 102);
}

#navbar{
  transition: top 0.4s;
  top: 0;
  height: 3.6em !important;
  z-index: 10;
  
}

.navbar-toggler{
    border: none!important;
}
.navbar-toggler:focus{
    outline:none;
    box-shadow: none !important;
}

.navbar .navbar-nav .nav-link:hover {
    color: #fff;
  }
  @media only screen and (min-width: 960px) {
    .navbar .navbar-nav .nav-link {
      padding: 1em 0.7em;
    }
    .navbar {
      padding: 0;
    }
    .navbar .navbar-brand {
      padding: 0 0.7em;
    }
  }
  .navbar .navbar-nav .nav-link {
    position: relative;
  }
  .navbar .navbar-nav .nav-link::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: #fff;
        color: transparent;
        width: 0%;
        content: '';
        height: 2px;
        transition: all 0.5s;
  }
  .navbar .navbar-nav .nav-link:hover::after {
    width: 50%;
  }

  .nav-item span{
    color: rgb(255, 255, 255);
  }

  .nav-link{
      padding: .5em 2em!important;
      height: 2.5em !important;
  }

.btn-purp{
    background: url('../../../public/assets/Background\ 8.jpg');
    background-size:100%;
    background-position: 20% ;
    border-radius: 4px;
    color:black  !important;
}
.btn-purp:hover{
  background: url('../../../public/assets/Background\ 8.jpg');
  background-size:100%;
  background-position: 20% ;
  filter: brightness(1.2);
}